<!doctype html>
<html>
<head>
</head>
<body>
<header>
</header>
<h2>Term Project by Sammy A. Rachman</h2>
    <a href="/">Home</a>|
    <a href="/articles/view">Article List</a> |
    <a href="/articles/add">New Article</a> |
    <a href="/articles/uploadXml">Add Article Via XML</a>
<hr/>

  {{{body}}}

</body>
</html>
