<!doctype html>
<html>
<head>
  <title>Articulate</title>
  <link rel='stylesheet' type="text/css" href='/styles.css'/>
</head>
<body>
<header>
</header>
<main>
<h2>Term Project by Sammy A. Rachman</h2>

    <a href="/">Home</a>|
    <a href="/articles/view">Article List</a> |
    <a href="/articles/add">New Article</a> |
    <a href="/authors/view">Author List</a> |
    <a href="/authors/add">New Author</a>
<hr/>

  {{{body}}}
</main>
</body>
</html>
