<form method="POST" action="/articles/add" id="articleform">
  <table>
  <tr>
   <th>
    <label for="title">Article Title:</label>
   </th>
   <td>
    <input  type="text" name="title" size="30">
   </td>
  </tr>
  <tr>
   <th>
    <label for="author">Author:</label>
   </th>
   <td>
    <input  type="text" name="author" size="30">
   </td>
  </tr>
  <tr>
   <th>
    <label for="category">Category:</label>
   </th>
   <td valign="top">
    <input  type="text" name="category" size="30">
   </td>
  </tr>
  <tr>
    <th>
      <label for="introduction">Introduction:</label>
    </th>
    <td>
      <textarea name="introduction" form="articleform" rows="3" required>Type your article's introduction here...</textarea>
    </td>
  </tr>
  <tr>
    <th>
      <label for="contents">Contents:</label>
    </th>
    <td>
      <textarea name="contents" form="articleform" rows="3" required>Type your article's content here...</textarea>
    </td>
  </tr>
  <tr>
    <th>
      <label for="conclusion">Conclusion:</label>
    </th>
    <td>
      <textarea name="conclusion" form="articleform" rows="3" required >Type your article's conclusion here...</textarea>
    </td>
  </tr>
   <td colspan="2">
    <input type="submit" width="100"/>
   </td>
  </tr>
 </table>
</form>

<form method="POST" action="/articles/uploadXml" id="xmlform">
  <label for="xml">Alternatively, you can insert a form with XML:</label>
  <br>
  <textarea name="xml" form="xmlform" rows="8" required>Paste your Article's XML here...</textarea>
  <br>
  <input type="submit" width="100"/>
</form>
