<form method="POST" action="/articles/uploadXml" id="xmlform">
  <label for="xml">Insert XML:</label>
  <br>
  <textarea name="xml" form="xmlform" rows="8" required>Paste your Article's XML here...</textarea>
  <br>
  <input type="submit" width="100"/>
</form>
